In [34]:
import pandas as pd
df =pd.read_csv("/datc/opschaler/smartmeter_data/P01S01W0373.csv",header=0,delimiter=";")
df.head()

,Timestamp,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasTimestamp,gasMeter
0,2017-03-07 18:14:28,3717.472,0.0,3883.382,0.0,376.0,0.0,2017-03-07 18:00:00,1599.792
1,2017-03-07 18:14:38,3717.473,0.0,3883.382,0.0,381.0,0.0,2017-03-07 18:00:00,1599.792
2,2017-03-07 18:14:48,3717.474,0.0,3883.382,0.0,378.0,0.0,2017-03-07 18:00:00,1599.792
3,2017-03-07 18:14:59,3717.475,0.0,3883.382,0.0,376.0,0.0,2017-03-07 18:00:00,1599.792
4,2017-03-07 18:15:09,3717.476,0.0,3883.382,0.0,380.0,0.0,2017-03-07 18:00:00,1599.792

In [35]:
df['Day'], df['Hour'] = df['Timestamp'].str.split(' ', 1).str
del df['Timestamp']
cols = df.columns.tolist()
cols = cols[-2:] + cols[:-2]
df = df[cols]
df.head()

,Day,Hour,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasTimestamp,gasMeter
0,2017-03-07,18:14:28,3717.472,0.0,3883.382,0.0,376.0,0.0,2017-03-07 18:00:00,1599.792
1,2017-03-07,18:14:38,3717.473,0.0,3883.382,0.0,381.0,0.0,2017-03-07 18:00:00,1599.792
2,2017-03-07,18:14:48,3717.474,0.0,3883.382,0.0,378.0,0.0,2017-03-07 18:00:00,1599.792
3,2017-03-07,18:14:59,3717.475,0.0,3883.382,0.0,376.0,0.0,2017-03-07 18:00:00,1599.792
4,2017-03-07,18:15:09,3717.476,0.0,3883.382,0.0,380.0,0.0,2017-03-07 18:00:00,1599.792

In [36]:
df['gasDay'], df['gasHour'] = df['gasTimestamp'].str.split(' ', 1).str
del df['gasTimestamp']
df.head()

,Day,Hour,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter,gasDay,gasHour
0,2017-03-07,18:14:28,3717.472,0.0,3883.382,0.0,376.0,0.0,1599.792,2017-03-07,18:00:00
1,2017-03-07,18:14:38,3717.473,0.0,3883.382,0.0,381.0,0.0,1599.792,2017-03-07,18:00:00
2,2017-03-07,18:14:48,3717.474,0.0,3883.382,0.0,378.0,0.0,1599.792,2017-03-07,18:00:00
3,2017-03-07,18:14:59,3717.475,0.0,3883.382,0.0,376.0,0.0,1599.792,2017-03-07,18:00:00
4,2017-03-07,18:15:09,3717.476,0.0,3883.382,0.0,380.0,0.0,1599.792,2017-03-07,18:00:00