files: keijzer_hhs_toa_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
WW=Weercode automatisch station in code.
VV=Horizontaal zicht (10 min. gemiddeld) in meters.
P=Luchtdruk op NAP (MSL)  (1 min. gem.) in hPa.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    WW,    VV,P 
  344,24t     ,20150101,  10,    10,  4150,1034.0
  344,24t     ,20150101,  20,    10,  3650,1033.9
  344,24t     ,20150101,  30,    10,  3151,1034.3
  344,24t     ,20150101,  40,    10,  5830,1034.1

files: keijzer_hhs_toc_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
N=Totale bedekkingsgraad bewolking in okta.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     N
  344,24t     ,20150101,  10,     0
  344,24t     ,20150101,  20,     0
  344,24t     ,20150101,  30,     0
  344,24t     ,20150101,  40,     0

files: keijzer_hhs_tor_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
RG=Neerslag intensiteit  Regenmeter (10 min. gem.) in mm/uur.(delen door 6)
DR=Neerslagduur PWS (10 min. som) in seconden.(delen door 600)
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    RG,    DR 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tos_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
Q=Globale straling 10 min. gemiddeld in W/m2.
SQ=Zonneschijnduur in minuten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     Q,    SQ 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tot_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
T10=Minimum Gras temperatuur 10 cm (over 10 min) in graden Celsius.
TD=Dauwpunts temperatuur (1 min. gem) in graden Celsius.
T=Temperatuur 1 min gemiddeld (1,5 m hoogte) in graden Celsius.
U=Relatieve vochtigheid 1,5 m  1min. gemiddeld in procenten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,   T10,    TD,     T,     U 
  344,24t     ,20150101,  10,   2.2,   1.3,   3.5,    85
  344,24t     ,20150101,  20,   2.3,     1,   3.2,    85
  344,24t     ,20150101,  30,   2.1,    .9,   3.1,    85
  344,24t     ,20150101,  40,   2.1,     1,   3.4,    84


files: keijzer_hhs_tow_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
DD=Gemiddelde windrichting in graden.
FF=Gemiddelde windsnelheid (op 10 m) in m/s.
FX=Maximum windstoot (op 10 m.) in m/s.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    DD,    FF,    FX
  344,24t     ,20150101,  10, 209.8,  5.36,  7.52
  344,24t     ,20150101,  20, 200.7,  4.97,   6.9
  344,24t     ,20150101,  30,   209,  4.84,  6.84
  344,24t     ,20150101,  40, 212.9,  5.03,   6.7

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_combined_uncleaned.csv', delimiter='\t', parse_dates=['datetime'])
df = df.set_index(['datetime'])
df.head()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2015-01-01 00:20:00,200.7,0.0,4.97,6.90,0.0,1033.9,0.0,0.0,0.0,3.2,2.3,1.0,85.0,3650.0,10.0
2015-01-01 00:30:00,209.0,0.0,4.84,6.84,0.0,1034.3,0.0,0.0,0.0,3.1,2.1,0.9,85.0,3151.0,10.0
2015-01-01 00:40:00,212.9,0.0,5.03,6.70,0.0,1034.1,0.0,0.0,0.0,3.4,2.1,1.0,84.0,5830.0,10.0
2015-01-01 00:50:00,213.9,0.0,4.92,7.30,0.0,1034.2,0.0,0.0,0.0,3.2,2.3,0.9,84.0,6900.0,10.0
2015-01-01 01:00:00,214.6,0.0,5.15,8.29,0.0,1034.3,0.0,0.0,0.0,3.6,2.3,0.9,82.0,8780.0,10.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 194248 entries, 2015-01-01 00:20:00 to 2018-09-10 23:50:00
Data columns (total 15 columns):
DD     173429 non-null float64
DR     192783 non-null float64
FF     173429 non-null float64
FX     173429 non-null float64
N      192612 non-null float64
P      192842 non-null float64
Q      192810 non-null float64
RG     192843 non-null float64
SQ     192825 non-null float64
T      192828 non-null float64
T10    192811 non-null float64
TD     192827 non-null float64
U      192827 non-null float64
VV     192696 non-null float64
WW     192770 non-null float64
dtypes: float64(15)
memory usage: 23.7 MB

In [8]:
df.describe()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
count,173429.000000,192783.000000,173429.000000,173429.000000,192612.000000,192842.000000,192810.000000,192843.000000,192825.000000,192828.000000,192811.000000,192827.000000,192827.000000,192696.000000,192770.000000
mean,197.188189,47.269479,4.338159,6.457601,4.527960,1015.983677,132.365824,0.102122,2.243176,11.370061,10.822624,7.783012,79.813211,21756.506925,12.998835
std,93.612039,148.287690,2.629547,3.855367,3.559168,9.782878,212.635463,0.777468,4.000189,6.645344,7.333862,5.608731,14.298392,13296.464517,20.792795
min,0.000000,0.000000,0.000000,0.000000,0.000000,967.950000,0.000000,0.000000,0.000000,-8.000000,-10.300000,-14.300000,19.000000,92.000000,0.000000
25%,120.500000,0.000000,2.390000,3.560000,0.000000,1010.700000,0.000000,0.000000,0.000000,6.400000,5.600000,3.600000,71.000000,10600.000000,2.000000
50%,213.700000,0.000000,3.910000,5.870000,6.000000,1016.900000,7.000000,0.000000,0.000000,11.200000,10.500000,8.100000,82.000000,20200.000000,3.000000
75%,262.500000,0.000000,5.770000,8.620000,8.000000,1022.400000,185.000000,0.000000,1.934500,16.300000,15.900000,12.300000,91.000000,31900.000000,10.000000
max,359.900000,600.000000,21.050000,32.070000,9.000000,1045.500000,1080.000000,78.000000,10.000000,35.900000,37.700000,22.500000,100.000000,49900.000000,91.000000

Looks like there is missing data.

In [3]:
df.isnull().sum()

DD     20819
DR      1465
FF     20819
FX     20819
N       1636
P       1406
Q       1438
RG      1405
SQ      1423
T       1420
T10     1437
TD      1421
U       1421
VV      1552
WW      1478
dtype: int64

DD,FF,FX have got 'a lot' of NaNs.

DD=Mean wind direction in degrees.
FF=Mean wind speed (at 10 m) in m/s.
FX=Max wind blast (at 10 m.) in m/s.

Later on decide what to do with them?

In [4]:
# Return a df with all the NaNs
df_nans = df[df.isnull().any(axis=1)]
# Finally, save the dataframe
df_nans.to_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_combined_NaNs.csv', sep='\t', index=True)
df_nans.loc['2016-08-01':,:]

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2016-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-17 10:10:00,95.5,36.0,5.94,9.36,0.0,1014.5,734.0,0.0,10.0000,21.6,23.7,10.9,50.0,2450.0,NaN
2016-08-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-18 07:40:00,NaN,0.0,NaN,NaN,0.0,1010.4,433.0,0.0,10.0000,17.6,18.2,12.1,70.0,31600.0,2.0
2016-08-18 07:50:00,NaN,0.0,NaN,NaN,0.0,1010.4,459.0,0.0,10.0000,18.1,18.8,12.3,68.0,34900.0,3.0
2016-08-18 08:00:00,NaN,0.0,NaN,NaN,0.0,1010.4,484.0,0.0,10.0000,18.2,19.2,11.7,65.0,28300.0,3.0
2016-08-18 08:10:00,NaN,0.0,NaN,NaN,0.0,1010.6,509.0,0.0,10.0000,18.5,19.8,12.0,65.0,29500.0,2.0
2016-08-18 08:20:00,NaN,0.0,NaN,NaN,0.0,1010.7,529.0,0.0,10.0000,18.9,20.4,11.9,63.0,31700.0,3.0
2016-08-18 08:30:00,NaN,0.0,NaN,NaN,0.0,1010.7,554.0,0.0,10.0000,19.2,21.2,12.0,63.0,31400.0,2.0
2016-08-18 08:40:00,NaN,0.0,NaN,NaN,0.0,1010.7,577.0,0.0,10.0000,19.2,21.4,11.7,61.0,33000.0,2.0
2016-08-18 08:50:00,NaN,0.0,NaN,NaN,0.0,1010.6,598.0,0.0,10.0000,19.5,21.6,11.3,59.0,32600.0,1.0
2016-08-18 09:00:00,NaN,0.0,NaN,NaN,0.0,1010.6,618.0,0.0,10.0000,20.2,21.8,11.8,58.0,33600.0,1.0
2016-08-18 09:10:00,NaN,0.0,NaN,NaN,0.0,1010.5,638.0,0.0,10.0000,20.3,22.3,11.4,56.0,31700.0,2.0
2016-08-18 09:20:00,NaN,0.0,NaN,NaN,0.0,1010.6,657.0,0.0,10.0000,20.8,22.5,12.1,57.0,33900.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-30 09:50:00,337.1,NaN,4.86,7.96,4.0,1022.0,416.0,0.0,6.4667,17.4,18.6,9.5,59.0,NaN,NaN
2018-08-30 10:00:00,338.8,NaN,4.02,6.76,3.0,1022.0,553.0,0.0,10.0000,18.4,17.9,10.8,61.0,NaN,1.0
2018-08-30 11:20:00,330.8,0.0,3.89,7.38,NaN,1022.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN,36400.0,0.0
2018-08-30 11:30:00,317.6,0.0,3.67,6.53,NaN,1022.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN,37100.0,0.0
2018-08-30 11:40:00,345.4,0.0,4.78,6.80,NaN,1022.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN,38300.0,0.0
2018-08-30 11:50:00,328.3,0.0,4.92,7.98,NaN,1022.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN,39000.0,0.0
2018-08-30 12:00:00,342.8,0.0,4.41,7.69,NaN,1022.4,NaN,0.0,NaN,18.9,NaN,10.8,59.0,33800.0,0.0
2018-08-30 12:10:00,329.9,0.0,5.52,7.65,NaN,1022.5,745.0,0.0,10.0000,19.0,20.8,11.0,60.0,32100.0,0.0
2018-08-30 12:20:00,327.9,0.0,4.43,7.81,NaN,1022.5,673.0,0.0,10.0000,19.2,20.3,10.6,57.0,35300.0,0.0
2018-08-30 12:30:00,335.3,0.0,4.66,7.34,NaN,1022.5,741.0,0.0,10.0000,18.8,20.9,9.3,54.0,29700.0,0.0
2018-08-30 12:40:00,335.8,0.0,5.19,7.65,NaN,1022.6,627.0,0.0,10.0000,18.6,20.0,7.9,49.0,40900.0,0.0
2018-08-30 12:50:00,333.8,0.0,4.62,7.09,NaN,1022.6,711.0,0.0,10.0000,18.7,20.2,8.9,52.0,36500.0,0.0
2018-08-30 13:40:00,339.4,0.0,4.33,6.51,NaN,1022.8,436.0,0.0,5.8553,18.3,19.6,9.7,57.0,40200.0,0.0
2018-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When inspecting 'df_combined_NaNs.csv' one can see that most NaNs are at 00:00:00. 
Some others are randomly placed.

In [9]:
df_filled = df.resample('10min').interpolate(method='time')
df_filled.describe()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
count,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000,194254.000000
mean,190.737150,47.305945,4.327577,6.390125,4.524465,1015.984842,131.534454,0.102486,2.227952,11.359787,10.806231,7.782909,79.861522,21735.036092,13.008277
std,91.671611,148.300619,2.494210,3.661299,3.558559,9.781130,212.240732,0.787959,3.990433,6.641428,7.329359,5.608995,14.282593,13302.295833,20.787341
min,0.000000,0.000000,0.000000,0.000000,0.000000,967.950000,0.000000,0.000000,0.000000,-8.000000,-10.300000,-14.300000,19.000000,92.000000,0.000000
25%,112.746630,0.000000,2.550000,3.830000,0.000000,1010.700000,0.000000,0.000000,0.000000,6.400000,5.600000,3.600000,71.000000,10600.000000,2.000000
50%,200.900000,0.000000,4.140363,5.857345,6.000000,1016.900000,6.000000,0.000000,0.000000,11.200000,10.400000,8.100000,83.000000,20200.000000,3.000000
75%,256.700000,0.000000,5.497500,8.200000,8.000000,1022.400000,182.000000,0.000000,1.762900,16.300000,15.900000,12.300000,91.000000,31900.000000,10.000000
max,359.900000,600.000000,21.050000,32.070000,9.000000,1045.500000,1080.000000,78.000000,10.000000,35.900000,37.700000,22.500000,100.000000,49900.000000,91.000000

In [6]:
# _ = pd.plotting.scatter_matrix(df, marker='.', s=1)

In [7]:
print('test')

test