In [72]:
import pandas as pd

In [73]:
dwelling_id = 'P01S01W5855'
combined = pd.read_csv('//datc//opschaler//combined_dfs_gas_smart_weather_NOT_interpolated//'+dwelling_id+'.csv', delimiter='\t', parse_dates=['datetime'])
combined = combined.set_index(['datetime'])

df_nan_info = pd.read_csv('//datc//opschaler//nan_information//'+dwelling_id+'.csv', delimiter='\t')

combined.head()

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter,DD,DR,FF,...,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,,,,,,,
2017-03-07 07:34:20,2457.402100,0.0,2370.063965,0.0,551.0,0.0,2073.334961,286.5,0.0,1.52,...,1011.400024,0.0,0.0,0.0,5.6,4.2,4.8,94.0,10900.0,2.0
2017-03-07 07:34:30,2457.404053,0.0,2370.063965,0.0,550.0,0.0,2073.334961,286.5,0.0,1.52,...,1011.400024,0.0,0.0,0.0,5.6,4.2,4.8,94.0,10900.0,2.0
2017-03-07 07:34:40,2457.406006,0.0,2370.063965,0.0,554.0,0.0,2073.334961,286.5,0.0,1.52,...,1011.400024,0.0,0.0,0.0,5.6,4.2,4.8,94.0,10900.0,2.0
2017-03-07 07:34:50,2457.406982,0.0,2370.063965,0.0,547.0,0.0,2073.334961,286.5,0.0,1.52,...,1011.400024,0.0,0.0,0.0,5.6,4.2,4.8,94.0,10900.0,2.0
2017-03-07 07:35:00,2457.408936,0.0,2370.063965,0.0,549.0,0.0,2073.334961,286.5,0.0,1.52,...,1011.400024,0.0,0.0,0.0,5.6,4.2,4.8,94.0,10900.0,2.0

In [74]:
df_nan_info

,Unnamed: 0,Column name,Start index,Stop index,Amount of NaNs
0,0,eMeter,2017-03-07 07:51:20,2017-03-07 07:51:20,1
1,1,eMeter,2017-03-07 07:53:30,2017-03-07 07:53:30,1
2,2,eMeter,2017-03-07 07:55:40,2017-03-07 07:55:40,1
3,3,eMeter,2017-03-07 07:57:50,2017-03-07 07:57:50,1
4,4,eMeter,2017-03-07 08:00:00,2017-03-07 08:00:00,1
5,5,eMeter,2017-03-07 08:02:10,2017-03-07 08:02:10,1
6,6,eMeter,2017-03-07 08:04:20,2017-03-07 08:04:20,1
7,7,eMeter,2017-03-07 08:06:30,2017-03-07 08:06:30,1
8,8,eMeter,2017-03-07 08:08:40,2017-03-07 08:08:40,1
9,9,eMeter,2017-03-07 08:10:50,2017-03-07 08:10:50,1
10,10,eMeter,2017-03-07 08:13:00,2017-03-07 08:13:00,1
11,11,eMeter,2017-03-07 11:05:20,2017-03-07 11:05:20,1
12,12,eMeter,2017-03-07 11:07:30,2017-03-07 11:07:30,1
13,13,eMeter,2017-03-07 11:09:40,2017-03-07 11:09:40,1
14,14,eMeter,2017-03-07 11:11:50,2017-03-07 11:11:50,1
15,15,eMeter,2017-03-07 11:14:00,2017-03-07 11:14:00,1
16,16,eMeter,2017-03-07 11:16:10,2017-03-07 11:16:10,1
17,17,eMeter,2017-03-07 11:18:20,2017-03-07 11:18:20,1
18,18,eMeter,2017-03-07 11:20:30,2017-03-07 11:20:30,1
19,19,eMeter,2017-03-07 11:22:40,2017-03-07 11:22:40,1
20,20,eMeter,2017-03-07 11:24:50,2017-03-07 11:24:50,1
21,21,eMeter,2017-03-07 11:27:00,2017-03-07 11:27:00,1
22,22,eMeter,2017-03-07 14:13:20,2017-03-07 14:13:20,1
23,23,eMeter,2017-03-07 14:15:30,2017-03-07 14:15:30,1
24,24,eMeter,2017-03-07 14:17:40,2017-03-07 14:17:40,1
25,25,eMeter,2017-03-07 14:19:50,2017-03-07 14:19:50,1
26,26,eMeter,2017-03-07 14:22:00,2017-03-07 14:22:00,1
27,27,eMeter,2017-03-07 14:24:10,2017-03-07 14:24:10,1
28,28,eMeter,2017-03-07 14:26:20,2017-03-07 14:26:20,1
29,29,eMeter,2017-03-07 14:28:30,2017-03-07 14:28:30,1
...,...,...,...,...,...
43795,43795,WW,2017-05-01 02:00:00,2017-05-01 02:09:50,60
43796,43796,WW,2017-05-02 02:00:00,2017-05-02 02:09:50,60
43797,43797,WW,2017-05-03 02:00:00,2017-05-03 02:09:50,60
43798,43798,WW,2017-05-04 02:00:00,2017-05-04 02:09:50,60
43799,43799,WW,2017-05-05 02:00:00,2017-05-05 02:09:50,60
43800,43800,WW,2017-05-06 02:00:00,2017-05-06 02:09:50,60
43801,43801,WW,2017-05-07 02:00:00,2017-05-07 02:09:50,60
43802,43802,WW,2017-05-08 02:00:00,2017-05-08 02:09:50,60
43803,43803,WW,2017-05-09 02:00:00,2017-05-09 02:09:50,60
43804,43804,WW,2017-05-10 02:00:00,2017-05-10 02:09:50,60
43805,43805,WW,2017-05-11 02:00:00,2017-05-11 02:09:50,60
43806,43806,WW,2017-05-12 02:00:00,2017-05-12 02:09:50,60
43807,43807,WW,2017-05-13 02:00:00,2017-05-13 02:09:50,60
43808,43808,WW,2017-05-14 02:00:00,2017-05-14 02:09:50,60
43809,43809,WW,2017-05-15 02:00:00,2017-05-15 02:09:50,60
43810,43810,WW,2017-05-16 02:00:00,2017-05-16 02:09:50,60
43811,43811,WW,2017-05-17 02:00:00,2017-05-17 02:09:50,60
43812,43812,WW,2017-05-18 02:00:00,2017-05-18 02:09:50,60
43813,43813,WW,2017-05-19 02:00:00,2017-05-19 02:09:50,60
43814,43814,WW,2017-05-20 02:00:00,2017-05-20 02:09:50,60
43815,43815,WW,2017-05-21 02:00:00,2017-05-21 02:09:50,60
43816,43816,WW,2017-05-22 02:00:00,2017-05-22 02:09:50,60
43817,43817,WW,2017-05-23 02:00:00,2017-05-23 02:09:50,60
43818,43818,WW,2017-05-23 14:20:00,2017-05-23 14:29:50,60
43819,43819,WW,2017-05-24 02:00:00,2017-05-24 02:09:50,60
43820,43820,WW,2017-05-25 02:00:00,2017-05-25 02:09:50,60
43821,43821,WW,2017-05-26 02:00:00,2017-05-26 02:09:50,60
43822,43822,WW,2017-05-27 02:00:00,2017-05-27 02:09:50,60
43823,43823,WW,2017-05-28 02:00:00,2017-05-28 02:09:50,60
43824,43824,WW,2017-05-29 02:00:00,2017-05-29 02:09:50,60

In [75]:
def drop_nan_streaks_above_threshold(df, df_nan_info, threshold):
    """
    Drops NaN streaks from the df when they are larger then the threshold value.
    This function also inputs df_nan_info because it already has been made in the smart_gas_nan_checker.
    :param df: Pandas DataDrame to process NaNs off
    :param df_nan_info: NaN info Pandas DataFrame of the input df
    :param threshold: Interpolate if 'Amount of NaNs' from detected NaN streak is below this number.
    :return: Pandas DataFrame
    """

    # Check for NaN streaks > threshold and drop them from the df
    length = len(df_nan_info['Amount of NaNs'])
    print('df_nan_info length: %s' % length)

    indices_to_drop = []
    for i, amount in enumerate(df_nan_info['Amount of NaNs']):
        if amount > threshold:
            start_index = (df_nan_info['Start index'][i])
            stop_index = (df_nan_info['Stop index'][i])
            print('Enumeration %s of %s, start_index stop_index, %s-----%s' % (i, length, start_index, stop_index))
            try:
                indices_to_drop += df[start_index:stop_index].index
            except:
                print('Could not index_list, df.drop')
        else:
            print('amount < threshold')

    print('Dropping NaN streaks > threshold')
    print('Old df length: %s' % len(df))
    df = df.drop(indices_to_drop)
    print('New df length: %s' % len(df))
    return df

In [80]:
%timeit t = drop_nan_streaks_above_threshold(combined, df_nan_info, 6)

df_nan_info length: 43825
done: drop_nan_streaks_above_threshold
df_nan_info length: 43825
done: drop_nan_streaks_above_threshold
df_nan_info length: 43825
done: drop_nan_streaks_above_threshold
df_nan_info length: 43825
done: drop_nan_streaks_above_threshold
1 loop, best of 3: 1.04 s per loop

In [77]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 717995 entries, 2017-03-07 07:34:20 to 2017-05-29 10:00:00
Data columns (total 22 columns):
eMeter             686029 non-null float64
eMeterReturn       686029 non-null float64
eMeterLow          686029 non-null float64
eMeterLowReturn    686029 non-null float64
ePower             686029 non-null float64
ePowerReturn       686029 non-null float64
gasMeter           694955 non-null float64
DD                 713015 non-null float64
DR                 712895 non-null float64
FF                 713015 non-null float64
FX                 713015 non-null float64
N                  713015 non-null float64
P                  712235 non-null float64
Q                  713015 non-null float64
RG                 713015 non-null float64
SQ                 713015 non-null float64
T                  713015 non-null float64
T10                713015 non-null float64
TD                 713015 non-null float64
U                  713015 non-null float64
VV                 712895 non-null float64
WW                 712895 non-null float64
dtypes: float64(22)
memory usage: 146.0 MB

In [78]:
len(to_drop)

247884

In [79]:
combined.drop(to_drop).info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 687581 entries, 2017-03-07 07:34:20 to 2017-05-29 10:00:00
Data columns (total 22 columns):
eMeter             680495 non-null float64
eMeterReturn       680495 non-null float64
eMeterLow          680495 non-null float64
eMeterLowReturn    680495 non-null float64
ePower             680495 non-null float64
ePowerReturn       680495 non-null float64
gasMeter           687581 non-null float64
DD                 687581 non-null float64
DR                 687581 non-null float64
FF                 687581 non-null float64
FX                 687581 non-null float64
N                  687581 non-null float64
P                  687581 non-null float64
Q                  687581 non-null float64
RG                 687581 non-null float64
SQ                 687581 non-null float64
T                  687581 non-null float64
T10                687581 non-null float64
TD                 687581 non-null float64
U                  687581 non-null float64
VV                 687581 non-null float64
WW                 687581 non-null float64
dtypes: float64(22)
memory usage: 120.7 MB