In [58]:
import pandas as pd

df = pd.read_csv("/datc/opschaler/smartmeter_data/export_P01S02W7251.csv",header=0,delimiter=";",parse_dates = ['gasTimestamp'])
df = df.set_index(['gasTimestamp'])

weather = pd.read_csv("/datc/opschaler/weather_data/knmi_10_min_raw_data/output/df_combined_uncleaned.csv",header=0,delimiter="\t",parse_dates = ['datetime'])
weather = weather.set_index(['datetime'])

In [ ]:
#Gasdata

In [48]:
df.head()

,Timestamp,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter
gasTimestamp,,,,,,,,
2017-06-30 10:00:00,2017-06-30 11:04:14,1153.175,647.327,1433.398,228.94,0.0,384.0,1572.623
2017-06-30 10:00:00,2017-06-30 11:04:24,1153.175,647.328,1433.398,228.94,0.0,394.0,1572.623
2017-06-30 10:00:00,2017-06-30 11:04:34,1153.175,647.329,1433.398,228.94,0.0,399.0,1572.623
2017-06-30 11:00:00,2017-06-30 11:05:07,1153.175,647.332,1433.398,228.94,0.0,419.0,1572.635
2017-06-30 11:00:00,2017-06-30 11:05:17,1153.175,647.333,1433.398,228.94,0.0,432.0,1572.635

In [63]:
df1h =  df.resample('H').mean()
df1h['gasMeter'].head()

gasTimestamp
2017-06-30 10:00:00    1572.623
2017-06-30 11:00:00    1572.635
2017-06-30 12:00:00    1572.672
2017-06-30 13:00:00    1572.681
2017-06-30 14:00:00    1572.681
Freq: H, Name: gasMeter, dtype: float64

In [ ]:
#Weather

In [59]:
weather.head()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2015-01-01 02:20:00,200.699997,0.0,4.97,6.90,0.0,1033.900024,0.0,0.0,0.0,3.2,2.3,1.0,85.0,3650.0,10.0
2015-01-01 02:30:00,209.000000,0.0,4.84,6.84,0.0,1034.300049,0.0,0.0,0.0,3.1,2.1,0.9,85.0,3151.0,10.0
2015-01-01 02:40:00,212.899994,0.0,5.03,6.70,0.0,1034.099976,0.0,0.0,0.0,3.4,2.1,1.0,84.0,5830.0,10.0
2015-01-01 02:50:00,213.899994,0.0,4.92,7.30,0.0,1034.199951,0.0,0.0,0.0,3.2,2.3,0.9,84.0,6900.0,10.0
2015-01-01 03:00:00,214.600006,0.0,5.15,8.29,0.0,1034.300049,0.0,0.0,0.0,3.6,2.3,0.9,82.0,8780.0,10.0

In [60]:
weather1h =  weather.resample('H').mean()
weather1h['T'].head()

datetime
2015-01-01 02:00:00    3.225000
2015-01-01 03:00:00    3.200000
2015-01-01 04:00:00    2.700000
2015-01-01 05:00:00    2.350000
2015-01-01 06:00:00    2.816667
Freq: H, Name: T, dtype: float64

In [ ]:
result = pd.concat([df1h, weather1h])