In [6]:
#Studentnummer: 16023161
#Studentnaam: Lucas de Lange
#Importeer alle blibliotheken die ik nodig ga hebben.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
get_ipython().run_line_magic('matplotlib', 'inline')

In [17]:
df = pd.read_excel('/home/14109999/notebooks/KB-74-OPSCHALER/Personal_folders/Megan/table1.xlsx')
df.head()

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Crime in the United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Volume and Rate per 100,000 Inhabitants, 19...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Population1,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition3),Rape\n(revised \ndefinition) \nrate3,Rape\n(legacy \ndefinition4),Rape\n(legacy \ndefinition) \nrate4,...,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9

In [18]:
df.isnull().sum()

Table 1        15
               24
Unnamed: 2     24
Unnamed: 3     22
Unnamed: 4     24
Unnamed: 5     24
Unnamed: 6     39
Unnamed: 7     40
Unnamed: 8     24
Unnamed: 9     24
Unnamed: 10    24
Unnamed: 11    24
Unnamed: 12    24
Unnamed: 13    23
Unnamed: 14    24
Unnamed: 15    22
Unnamed: 16    23
Unnamed: 17    24
Unnamed: 18    24
Unnamed: 19    23
Unnamed: 20    24
Unnamed: 21    24
dtype: int64

In [19]:
df.dtypes

Table 1        object
               object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
Unnamed: 10    object
Unnamed: 11    object
Unnamed: 12    object
Unnamed: 13    object
Unnamed: 14    object
Unnamed: 15    object
Unnamed: 16    object
Unnamed: 17    object
Unnamed: 18    object
Unnamed: 19    object
Unnamed: 20    object
Unnamed: 21    object
dtype: object

In [20]:
df.columns

Index(['Table 1', ' ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')