In [48]:
"""
TODO: 
clean xlsx data?
concatenate xlsx data
concatenate csv data

seperate xlsx, csv or combined in one df?

ATTENTION!
'Batch 2-without pictures' is not yet included because the 'opnameformulier' is a pdf.

More info: https://campus.datacamp.com/courses/cleaning-data-in-python/combining-data-for-analysis?ex=4 whole chapter
"""

# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern, ** means ''all sub dirs''
pattern_csv = 'data/**/**/*.csv'
pattern_xls = 'data/**/**/*.xls*'

# Save all file matches: csv_files
csv_files = glob.glob(pattern_csv)
xls_files = glob.glob(pattern_xls)

# Print the file names
print("Amount of csv files detected: %s" % len(csv_files))
print("Amount of xlsx files detected: %s" % len(xls_files))

Amount of csv files detected: 23094
Amount of xlsx files detected: 52

In [49]:
# Load the second file into a DataFrame: csv2
csv1 = pd.read_csv(csv_files[0])
xls1 = pd.read_excel(xls_files[0], parse_dates=True)

# Print the head of csv2
csv1.head()

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/pandas/io/excel.py:348: UserWarning: The 'parse_dates=True' keyword of read_excel was provided without an 'index_col' keyword value.
  warn("The 'parse_dates=True' keyword of read_excel was provided"

                                 Timestamp;Device;Co2Value;RoomTemp;Humidity;HumidityBathRoom;VentilationLevel;Presence
11-3-2017 23:49:00;1DC063;533;19                                    54;38;255;255;1
11-3-2017 23:54:00;1DC063;534;19                                    54;38;255;255;0
11-3-2017 23:59:00;1DC063;544;19                                    57;38;255;255;0
12-3-2017 0:04:00;1DC063;566;19                                     63;38;255;255;1
12-3-2017 0:09:00;1DC063;569;19                                     58;37;255;255;0

In [50]:
"""
Will probably need multi indexing:

https://campus.datacamp.com/courses/merging-dataframes-with-pandas/concatenating-data?ex=9
"""

'\nWill probably need multi indexing:\n\nhttps://campus.datacamp.com/courses/merging-dataframes-with-pandas/concatenating-data?ex=9\n'

In [51]:
xls_files[0:5]

['data/Batch 2-without pictures/P01S02W4042/Opnameformulier P01S02W4042.xlsx',
 'data/Batch 1-without pictures/P01S01W6271/Opnameformulier P01S01W6271.xls',
 'data/Batch 1-without pictures/P01S01W7579/Opname formulier P01S01W7579.xls',
 'data/Batch 1-without pictures/P01S01W6959/opname formulier P01S01W6959.xlsm',
 'data/Batch 1-without pictures/P01S01W4313/opnameformulier P01S01W4313.xlsm']

"""
Concat files (=merge them in one df)
"""
frames=[]

for csv in csv_files:
    print(csv)
    df = pd.read_csv(csv)
    frames.append(df)

#csv_concat = pd.concat(frames)
#csv_concat.info(memory_usage='deep')

In [52]:
"""
Selecting the tables out of the excel file.
Saving it in format table_{table number}.
"""

'\nSelecting the tables out of the excel file.\nSaving it in format table_{table number}.\n'

In [53]:
# Need iloc for index based selection of rows and columns
table_1 = xls1.iloc[23:34,2:4]

table_2_1 = xls1.iloc[38:47,1:12]
table_2_2 = xls1.iloc[48:54,1:9]

table_3_1 = xls1.iloc[57:68,1:10]
table_3_2 = xls1.iloc[67:75,1:10]
table_3_3 = xls1.iloc[77:86,1:14]
table_3_4 = xls1.iloc[87:101,1:15]
table_3_5 = xls1.iloc[102:111,1:14]
table_3_6 = xls1.iloc[112:131,1:14]
table_3_7 = xls1.iloc[132:140,1:15]
table_3_8 = xls1.iloc[141:160,1:25]
table_3_9 = xls1.iloc[161:169,1:13]

table_4_1 = xls1.iloc[172:183,1:14]
table_4_2 = xls1.iloc[185:195,1:15]
table_4_3 = xls1.iloc[197:207,1:7]
table_4_4 = xls1.iloc[209:215,1:14]
table_4_5 = xls1.iloc[217:224,1:7]

table_5_1 = xls1.iloc[228:232,1:8]

table_6_1a = xls1.iloc[235:248,1:16]
table_6_1b = xls1.iloc[249:258,1:16]
table_6_2 = xls1.iloc[259:266,1:8]
table_6_3 = xls1.iloc[267:272,1:14]

table_7_1 = xls1.iloc[275:285,1:12]
table_8_1 = xls1.iloc[286:292,1:9]

In [63]:
"""
Reset all indices of the tables
"""
tables = [table_1, table_2_1, table_2_2, table_3_1, table_3_2, table_3_3, table_3_4, table_3_5, table_3_6, table_3_7, table_3_8, table_3_9, table_4_1, table_4_2, table_4_3, table_4_4, table_5_1, table_6_1a, table_6_1b, table_6_2, table_6_3, table_7_1, table_8_1]

for i in range(len(tables)):
     tables[i] = tables[i].reset_index(drop=True)

In [75]:
tables[5]

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,vloeren en delen van buitenwanden die grenzen ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,naam bouwdeel\n& hoort bij vloer xx,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlakte\n[m2],vloer boven maaiveld [m],dikte\nisolatie,lucht\nspouw,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolatie_vloer,spouw,grens_vloer_grond,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,indien bekend,indien aanwezig
4,NaN,<naam>,0,0,1,0,0,0,onbekend,ja,grond,2,-
5,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
6,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
7,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
8,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-